* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  justify-content: center;
  width: 1000px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 8%;
  width: 6.5%;
}

.boot {
  background-image: url("../images/old_boots.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 2px;
}

.frisbee {
  background-image: url("../images/frisbee.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 2px;
  width: 50px;
  height: 50%;
}

.endGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
