* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(13, 150, 13);
}

.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  justify-content: center;
  width: 1000px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 9%;
  width: 9%;
}

.boot {
  background-image: url("../images/old_boots.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 2px;
}

.frisbee {
  background-image: url("../images/frisbee.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 2px;
}

.game-over {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-won {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.road {
  background-image: url("../images/road.jpeg");
  background-repeat: repeat;
  background-size: contain;
}

.lane-one {
  background-image: url("../images/yellow-car-road.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
}

.lane-two {
  background-color: red;
}
